html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
ul{
    list-style-type: none;
}

body {
    font-family: 'Lato',sans-serif;
    background-color:#343a40;
}

.navbar-collapse {
    z-index: 22;
    margin: 0 auto;
    background:#343a40;
    float: right;
}

.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 15px 15px 5px;
}


.navbar{
    background:#343a40;
    height: 10vh;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.85);
}
.dropdown-menu{
    background: rgba(255,255,255,.85);
}

.carousel-item img{
    width: 100vw;
    height: 90vh;
}

#wrapper{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 50px 50px;
}

#card{
    /* background-color:  rgba(255, 255, 255, 0.5); */
    padding: 20px 20px;
}

#plx {
    background: url("../images/pp2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 100px ;
    padding-bottom: 100px;
}

.mission-icon{
    margin-top:10px;
    padding:25px 15px;
    text-align:center;
    float:left;
    width:50%
}
.mission-icon a{
    display:block;
    text-decoration:none
}
.mission-icon img{
    border-radius:50%;
    display:block;
    margin:0 auto
}
.mission-icon h4{
    font-size:15px;
    font-weight:normal;
    line-height:1;
    margin:0.4em 0 0.25em 0;
    text-transform:uppercase
}

.contact{
    position: relative;
    width: 100vh;
    height: 100vh;
}
.fab {
    color: azure;
}
#event{
    background: 
    radial-gradient(circle at 30% 94%, rgba(245, 245, 245,0.06) 0%, rgba(245, 245, 245,0.06) 50%,rgba(21, 21, 21,0.06) 50%, rgba(21, 21, 21,0.06) 100%),
    radial-gradient(circle at 59% 19%, rgba(248, 248, 248,0.06) 0%, rgba(248, 248, 248,0.06) 50%,rgba(87, 87, 87,0.06) 50%, rgba(87, 87, 87,0.06) 100%),
    radial-gradient(circle at 7% 11%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(254, 254, 254,0.06) 50%, rgba(254, 254, 254,0.06) 100%),
    linear-gradient(90deg, rgb(189, 189, 189),rgb(205, 205, 205))
}
#contact-page{
    background: 
    radial-gradient(circle at 30% 94%, rgba(245, 245, 245,0.06) 0%, rgba(245, 245, 245,0.06) 50%,rgba(21, 21, 21,0.06) 50%, rgba(21, 21, 21,0.06) 100%),
    radial-gradient(circle at 59% 19%, rgba(248, 248, 248,0.06) 0%, rgba(248, 248, 248,0.06) 50%,rgba(87, 87, 87,0.06) 50%, rgba(87, 87, 87,0.06) 100%),
    radial-gradient(circle at 7% 11%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(254, 254, 254,0.06) 50%, rgba(254, 254, 254,0.06) 100%),
    linear-gradient(90deg, rgb(189, 189, 189),rgb(205, 205, 205))

}
@media only screen and (min-width: 420px){
    .mission-icon{
        width:30%
    }
    card-img-top {
        height: 11vw;
    }
    .card1{
        margin-bottom: 250px !important;
    }
    
}
@media only screen and (min-width: 330px) and (max-width: 420px){
    .navbar a{
        font-size:15px;
    }
    card-img-top {
        height: 11vw;
    }
    .card1{
        margin-bottom: 250px !important;
    }
}
@media only screen and  (min-width: 320px) and (max-width: 400px){
    .navbar a{
        font-size:12px;
    }
    #plx {
        font-size: small;
    }
    .mission-icon{
        width:100%
    }
    .mission-icon h4{
        font-size:12px
    }
    h2 {
        font-size: medium;
        font-weight: bold;
    }
    card-img-top {
        height: 19vw;
    }
    .card1{
        margin-bottom: 250px !important;
    }
    
}

.card-img-top {
    object-fit: cover;
}

@media only screen and (min-width: 768px) and (max-width: 1000px){
    .navbar a{
        font-size:12px;
    }
    .mission-icon h4{
        font-size:20px
    }
    .card-img-top {
        height: 16vw;
    }
    .card{
        margin-bottom: 250px;
    }
    #container {
            margin-left: 160px;
            margin-top: 100px;
        }
}
@media only screen and (min-width: 1000px){
    .navbar a{
        font-size:18px;
    }
    .mission-icon{
        width:16.6667%
    }   
    .mission-icon h4{
        font-size:20px
    }
    .card-img-top {
        height: 13vw;
    }
    .card{
        margin-bottom: 250px;
    }
    #container{
        margin-left: 350px;
    }
   
}
#card{
    border: 2px solid white;
}
.current{
    background-color: green;
  }

  .thumbnail {
    position: relative;
    margin-top: 1rem;
   
}

.caption {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#contact-page{
    background-color: #F9FFFD;
}
.btn-submit{
    background-color: #52BEE8;
}
#contact li a{
        text-decoration:none;
        color: black; 
}


